
@keyframes animate {
  0% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-reverse {
  0% {
    transform: rotate(360deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  100% {
    transform: rotate(0deg);
  }
}


@keyframes profile-pic-slide {
  from{
    transform: translateX(100px);
  }
  to{
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes text-down {
  10%{
    transform: translateY(-30px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes name-down {
  30%{
    transform: translateY(-30px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes skill-down {
  40%{
    transform: translateY(-30px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes social-med-up {
  50%{
    transform: translateY(30px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}


@keyframes about-me {
  from{
    transform: translateY(30px);
    opacity: 0;
  }
  to{
    transform: translateY(0px);
    opacity: 0.7;
  }
}

@keyframes about-profile-slide{
  from{
    transform: translateX(-30px);
    opacity: 0;
  }
  to{
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes skill-button-entry{
  from{
    transform: translateX(-20px);
  }
  to{
      transform: translateX(0px);
      opacity: 1;
  }
}

@keyframes cards-entry {
  from{
    transform: translateY(20px);
  }
  to{
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes contact-input-entry{
  from{
    transform: translateY(30px);
  }
  to{
    transform: translateY(0px);
    opacity: 1;
  }
}


@keyframes floating-up{
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-7px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes floating-down{
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(7px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes fade-in{
  50%{
    opacity: 0;
    transform: translateX(-50%) scale(0);
  }
  100%{
    opacity: 1;
    transform: translateX(-50%) scale(1);
  }
    
  
}

